body { 
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.logo { 
    width: 80%;
    padding: 20px;
}

.navbar-custom { 
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    color: black;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 992px) {
    i { 
        font-size: 40pt;
        margin-right: 80px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-custom {
        justify-content: space-between;
    }

    i { 
        font-size: 30pt;
    }

    .logo { 
        width: 80%;
        padding: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .logo { 
        padding: 100px;
    }

    i { 
        font-size: 50pt;
    }
}

.img{
    background-image: url(./img3.jpg);
    height: 700px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.img > div {
    backdrop-filter: blur(2px);
    padding: 10%;
    padding-top: 200px;
    font-size: 24pt;
    height: 100%;
}

.footer { 
    /* background-color: black;
    color: white; */
    text-align: center;
}


/* .carousel-item > img {
    height: 75vh;
    background-size: cover;
    filter: brightness(50%);
}

.carousel-item {
    background-size: cover;
    object-fit: cover;
} */
